*{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
}
body{
    background-color: rgb(247, 248, 249) !important;
}

header{
    position: relative;
    width: 100%;
}
.header-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 9px 29px -17px rgba(54, 54, 54, 0.1);
    height: inherit;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header-banner__conatiner-logo{
    height: 150px;
    width: 400px;
}
.header-banner__img-logo{
    width: 100%;
    height: 100%;
}

.carrusel{
    width: 100%;
    height: 100vh;
   max-height: 100vh;
}

.carousel-inner .carousel-item img{
    height: 100vh !important;
}
.products{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.products__card{
    width: 200px;
    height: 100px;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}
.products__card img{
   width: 100%;
   height: 100%;
   border-radius: 5px;
}
/* .products__container-texto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-radius: 10%;
    transition: background-color 0.5s;
} */
.products__container-texto:hover{
    background-color: rgb(38, 37, 37,0.6);
}
.products__card p{
   position: absolute;
   top: 75%;
   background-color: rgb(38, 37, 37,0.6);
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   padding: 5px;
   width: 100%;
   font-size: 12px;
   text-align: center;
   letter-spacing: 2px;
}

.contenedor-products{
    background: linear-gradient(rgba(16, 15, 15,.1), black);
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}


.contenedor-products__title h3{
    color: white;
    text-align: center;
    font-size: 60px;
}

.section__products,.section__location{
    margin: 60px auto;
    background-color: white;
}
.section__products{
    padding: 30px 0;
}

.section__container-product{
    width: 1200px;
    margin:60px auto;
    display: flex;
}
.section__container-product a{
    display: flex;
}

.section__img,
.section__text{
    margin: 0 10px;
}
.section__text{
    color: #000;
}
.section__text h2{
    color: #6c757d;
}

.section__img{
    max-height: 300px;
}
.section__img img{
    width: 100%;
    border-radius: 10px;
}

:target{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 30px 0
}
.section__location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.section-location__container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px
}

.section-location__citys{
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-location__title h1{
    text-align: center;
    font-size: 22px;
}

.section__container-product{
    cursor: pointer;
}